html,
body {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.header {
    display: flex;
    justify-content: space-between;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.standar-font {
    font-size: 1.5rem;
    text-align: center;
}

.contact-card-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
}

.contact-card-row-photo-info {
    display: flex;
    flex-direction: row;
}

.contact-card-row-info {
    margin-left: 3rem;
}

.contact-action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 14rem;
    height: 4.5rem;
    border-radius: 90px;
    background: #FC466B;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
}

.pointer-mouse {
    cursor: pointer;
}

.row-center-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-error {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: red;
}

.center-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
}